* {
  padding: 0;
  margin: 0;
}

@media (min-width: 576px) and (max-width: 991.98px) and (orientation: portrait){

body{
  background-image: url(img/background2.png);
  font-family: 'Nunito', sans-serif;
}

.home{
  align-items: center;
  background-image: url(img/background1.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-home{
  margin-top: 5%;
}

.home-title{
  color: #ffffff;
  font-size: 40px;
  margin-top: 10vh;
  text-align: center;
}

.touch-button{
  height: 228px;
  margin-top: 7vh;
}

.walmart-icon{
  margin-left: 94%;
}


/* --------------Pantalla de credential-------------- */

.credential{
  align-items: center;
  background-image: url(img/background1.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.credential-text{
  color: #FFFFFF;
  font-size: 36px;
  font-weight: 600;
  margin-top: 6%;
  text-align: center;
  width: 600px;
}

.credential-img{
  height: 350px;
  margin-top: 6%;
}

/* --------------Modal de validación de partner-------------- */

.modal-background{
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: visibility 0s, opacity 0.5s; 
  visibility: hidden;
  width: 100%;
}

.modal{
  display: flex;
  flex-direction: column;
}

.modal-button{
  background-color: #DE1C24;
  border-radius: 50px;
  color: #FFFFFF;
  font-size: 30px;
  height: 65px;
  margin-top: 8%;
  width: 180px;
  border: none;
  outline: none;
}

.text-modal{
  font-size: 32px;
}

.background-active{
  opacity: 1;
  visibility: visible;
}

.modal{
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px; 
  display: flex;
  height: 32%;
  justify-content: center;
  position: relative;
  width: 77%;
}

.modal-close{
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 5px;
}

/* --------------Pantalla de shopcart-------------- */

.shopcart-header{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 4%;
}

.partner-name{
  color: #ffffff;
  font-size: 28px;
  font-weight: 400;
}
.button-item-container{
  display: flex;
  flex-direction: row;
}

.items{
  color: #0071CE;
  display: flex;
  flex-direction: row;
  font-size: 30px;
  justify-content: space-between;
  list-style: none;
  margin-top: 10%;
  margin-left: 8%;
  margin-right: 8%;
}

.product-container{
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  height: 90px;
  justify-content: flex-start;
  width: 668px;
}

.item-container{
  display: flex;
  flex-direction: row;
  font-size: 20px;
}

.product{
  width: 306px;
}
.product2{
  width: 302px;
}
.product3{
  width: 301px;
}
.product4{
  width: 310px;
}

.cuantity, .cuantity2{
  margin-right: 217px;
}
.cuantity3{
  margin-right: 216px;
}
.cuantity4{
  margin-right: 223px;
}

.price, .price2, .price3, .price4{
  color: #DE1C24;
}

.trash{
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-left: 1%;
}

.the-button{
  background-color: transparent;
  border: none;
  outline: none;
  color: #FFFFFF;
  width: 50px;
  height: 90px;
  
}

.total{
  color: #0071CE;
  font-size: 30px;  
}

.total-price{
  color: #DE1C24;
  font-size: 24px;
  max-width: 10px;
}

.emptyCartAndFinishShopContainer{
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 70%;
}

.finish-shop-button{
  background-color: #DE1C24;
  border-radius: 18px;
  border: none;
  color: #ffffff;
  float:right;
  font-size: 25px;
  height: 55px;
  outline: none;
  padding: 10px;
  width: 230px;
  margin-top: 14%;
  
}

.empty-cart{
  font-size: 28px;
  text-decoration: underline;
  width: 176px;
  float: right;
  margin-top: 12%;
}

.footer{
  align-items: flex-end;
  bottom: 12%;
  display: flex;
  margin-left: 10%;
  position: fixed;
  width: 90%;
}

.totalPrice{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.cancel-purchase{
  color: #DE1C24;
  font-size: 25px;
  margin-left: 12%;
  text-decoration: underline;
  width: 200px;
}
.cancelPurchase{
  width: 220px;
}

.right{
  display: flex;
  flex-direction: column;
  margin-left: 20%;
}

/* --------------Modal de finalizar compra-------------- */

.finish-purchase-modal-background{
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: visibility 0s, opacity 0.5s; 
  visibility: hidden;
  width: 100%;
}

.finish-purchase-modal-button{
  background-color: transparent;
  border: none;
  width: 500px;
  height: 100px;
}

.finish-purchase-text-modal{
  font-size: 32px;
  color: #DE1C24;
  text-align: center;
  width: 500px;
  margin-top: 16%;
}

.finish-purchase-background-active{
  opacity: 1;
  visibility: visible;
}

.finish-purchase-modal{
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px; 
  display: flex;
  flex-direction: column;
  height: 32%;
  justify-content: center;
  position: relative;
  width: 77%;
}

.finish-purchase-modal-close{
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 5px;
}


/* --------------Modal de cancelar compra-------------- */

.cancel-purchase-modal-background{
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: visibility 0s, opacity 0.5s; 
  visibility: hidden;
  width: 100%;
}

.cancel-purchase-text-modal{
  font-size: 32px;
  text-align: center;
  width: 500px;
}

.cancel-purchase-text-modal2{
  font-size: 24px;
}

.cancel-purchase-background-active{
  opacity: 1;
  visibility: visible;
}

.cancel-purchase-modal{
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px; 
  display: flex;
  flex-direction: column;
  height: 32%;
  justify-content: space-evenly;
  position: relative;
  width: 77%;
}

.cancel-purchase-modal-button-container{
  display: flex;
  justify-content: space-around;
  width: 50%;

}

.cancel-purchase-modal-button{
  background-color: #DE1C24;
  border-radius: 20px;
  border: none;
  color: #ffffff;
  font-size: 25px;
  outline: none;
  padding: 10px;
  width: 80px;
  height: 55px;
}

.cancel-purchase-modal-close{
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 5px;
}

/* --------------Modal de vaciar carrito-------------- */

.empty-cart-modal-background{
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: visibility 0s, opacity 0.5s; 
  visibility: hidden;
  width: 100%;
}

.empty-cart-modal-button{
  background-color: #DE1C24;
  border-radius: 20px;
  border: none;
  color: #ffffff;
  font-size: 25px;
  outline: none;
  padding: 10px;
  width: 80px;
  height: 55px;
}
.empty-cart-modal-button-container{
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.empty-cart-text-modal{
  font-size: 32px;
  color: #000;
  text-align: center;
  width: 500px;
}
.empty-cart-text-modal2{
  font-size: 24px;
}

.empty-cart-background-active{
  opacity: 1;
  visibility: visible;
}

.empty-cart-modal{
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px; 
  display: flex;
  flex-direction: column;
  height: 32%;
  justify-content: center;
  justify-content: space-evenly;
  position: relative;
  width: 77%;
}

.empty-cart-modal-close{
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 5px;
}

/* --------------Pantalla de pago-------------- */

.pay-container{
  display: flex;
  justify-content: center;
  margin-top: 10%;
  flex-direction: column;
  align-items: center;
}

.pay-title{
  font-size: 40px;
  color: #0071CE;
}

.pay-buttons-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 46px;
}

/* .pay-buttons{
  outline: 2px solid #0071CE;
} */

.do-you-need-help{
  font-size: 25px;
  text-decoration: underline;
}

.pay-footer{
  justify-content: space-between;
  bottom: 12%;
  display: flex;
  position: fixed;
  width: 90%;
}

/* --------------Modal de redcompra-------------- */

.redcompra-modal-background{
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: visibility 0s, opacity 0.5s; 
  visibility: hidden;
  width: 100%;
}

.redcompra-background-active{
  opacity: 1;
  visibility: visible;
}

.redcompra-modal{
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px; 
  display: flex;
  height: 32%;
  justify-content: center;
  position: relative;
  width: 77%;
}

.redcompra-modal-close{
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 5px;
}

.credit-debit-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.credit-buttons{
  margin-left: -56px;
  margin-right: 20%;
}

/* --------------Modal Realiza el pago-------------- */

.change-modal-content2{
  display: none;
}

.do-the-pay-text{
  font-size: 30px;
  margin-bottom: 25%;
}

/* --------------Modal Loading-------------- */

.change-modal-content3{
  display: none;
}

.loading-text{
  font-size: 30px;
  margin-bottom: 25%;
}

/* --------------Modal successful payment-------------- */

.change-modal-content4{
  display: none;
}

.successful-payment{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.successful-payment-text{
  font-size: 30px;
  margin-bottom: 25%;
}

.continue-button{
  background-color: #DE1C24;
  border-radius: 20px;
  border: none;
  color: #ffffff;
  font-size: 25px;
  outline: none;
  padding: 10px;
  width: 140px;
  height: 55px;
}

/* --------------Modal factura-------------- */

.change-modal-content5{
  display: none;
}

.receipt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.receipt-text{
  font-size: 30px;
  margin-bottom: 15%;
}

/* --------------Página de final-------------- */

.final-container{
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0.5px solid rgba(0, 0, 0, 0.25);
  height: 90px;
  justify-content: space-evenly;
  height: 630px;
  width: 668px;
  display: flex;
  flex-direction: column;
  margin: 100px 0 0 50px;
}

.final-header{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 4%;
}

.final-title{
  text-align: center;
  color: #0071CE;
  font-size: 28px;
  width: 350px;
}

.final-text{
  text-align: center;
  font-size: 24px;
  width: 300px;
}

.final-button{
  background-color: #DE1C24;
  border-radius: 20px;
  border: none;
  color: #ffffff;
  font-size: 25px;
  outline: none;
  padding: 10px;
  width: 140px;
  height: 50px;
}





}
